<div class="page-header">
  <h1>
    Sources
    <a href="/sources/new" class="btn btn-lg btn-success">New Source</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "sources_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :url_cont, "Url contains" %>
    <%= f.text_field :url_cont, :class => "form-control", :placeholder => "Url contains" %>
  </div>

<div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :indicator_name_cont, "Indicator name contains" %>
      <%= f.text_field :indicator_name_cont, :class => "form-control", :placeholder => "Indicator name contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Author Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='authorgteqcreated_atPicker'>
                  <%= f.text_field :author_created_at_gteq, :class => "form-control", :placeholder => "Author Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='authorlteqcreated_atPicker'>
                  <%= f.text_field :author_created_at_lteq, :class => "form-control", :placeholder => "Author Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#authorgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#authorlteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#authorgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#authorlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#authorlteqcreated_atPicker').on("dp.change", function (e) {
                  $('#authorgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/sources" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#sources_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Author</th>
        <th>Name</th>
        <th>Url</th>
        <th>Indicator</th>
        <th>Actions</th>
      </tr>

      <% @sources.each do |source| %>
      <tr>
        <td>
          <% if source.author.present? %>
            <a href="/authors/<%= source.author.id %>">
              <%= source.author.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= source.name %></td>
        <td><%= source.url %></td>
        <td>
          <% if source.indicator.present? %>
            <a href="/indicators/<%= source.indicator.id %>">
              <%= source.indicator.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/sources/<%= source.id %>" class="btn btn-primary">Show</a>
          <a href="/sources/<%= source.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_source/<%= source.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @sources, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
