<div class="page-header">
  <h1>
    Sources
    <a href="/sources/new" class="btn btn-lg btn-success">New Source</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Author</th>
        <th>Name</th>
        <th>Url</th>
        <th>Indicator</th>
        <th>Actions</th>
      </tr>

      <% @sources.each do |source| %>
      <tr>
        <td>
          <% if source.author.present? %>
            <a href="/authors/<%= source.author.id %>">
              <%= source.author.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= source.name %></td>
        <td><%= source.url %></td>
        <td>
          <% if source.indicator.present? %>
            <a href="/indicators/<%= source.indicator.id %>">
              <%= source.indicator.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/sources/<%= source.id %>" class="btn btn-primary">Show</a>
          <a href="/sources/<%= source.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_source/<%= source.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @sources, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
