<!-- Validation failure messages -->
<% if @value.errors.any? %>
  <% @value.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Value #<%= @value.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_value/<%= @value.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for indicator_id -->
      <div class="form-group">
        <label for="indicator_id" class="control-label">
          Indicator
        </label>

        <%= select_tag(:indicator_id, options_from_collection_for_select(Indicator.all, :id, :name, @value.indicator_id), :class => "form-control") %>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @value.date %>">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="<%= @value.value %>">
      </div>

      <button class="btn btn-warning">
        Update Value
      </button>
      or
      <a href="/values/<%= @value.id %>">Cancel</a>
    </form>
  </div>
</div>
