<div class="page-header">
  <h3>Value #<%= @value.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Indicator</dt>
      <dd>
        <% if @value.indicator.present? %>
          <a href="/indicators/<%= @value.indicator_id %>">
            <%= @value.indicator.name %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= @value.date %></dd>

      <dt>Value</dt>
      <dd><%= @value.value %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/values" class="btn btn-primary">
        Back
      </a>
      <a href="/values/<%= @value.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_value/<%= @value.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
