<div class="page-header">
  <h3>Author #<%= @author.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/authors" class="btn btn-primary">
        Back
      </a>
      <a href="/authors/<%= @author.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_author/<%= @author.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Author has many sources -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sources
      </li>

      <% @author.sources.each do |source| %>
        <li class="list-group-item">
          <a href="/sources/<%= source.id %>">
            <%= source.author_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sources/<%= source.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sources/<%= source.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_source/<%= source.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Author has many indicators -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Indicators
      </li>

      <% @author.indicators.each do |indicator| %>
        <li class="list-group-item">
          <a href="/indicators/<%= indicator.id %>">
            <%= indicator.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/indicators/<%= indicator.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/indicators/<%= indicator.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_indicator/<%= indicator.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
