<div class="page-header">
  <h3>Ourmodel #<%= @ourmodel.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Model weight</dt>
      <dd><%= @ourmodel.model_weight %></dd>

      <dt>Ourmodel name</dt>
      <dd><%= @ourmodel.ourmodel_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ourmodels" class="btn btn-primary">
        Back
      </a>
      <a href="/ourmodels/<%= @ourmodel.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ourmodel/<%= @ourmodel.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Ourmodel has many variables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Variables
      </li>

      <% @ourmodel.variables.each do |variable| %>
        <li class="list-group-item">
          <a href="/variables/<%= variable.id %>">
            <%= variable.indicator_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/variables/<%= variable.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/variables/<%= variable.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_variable/<%= variable.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Ourmodel has many indicators -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Indicators
      </li>

      <% @ourmodel.indicators.each do |indicator| %>
        <li class="list-group-item">
          <a href="/indicators/<%= indicator.id %>">
            <%= indicator.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/indicators/<%= indicator.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/indicators/<%= indicator.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_indicator/<%= indicator.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
