<div class="page-header">
  <h3>Indicator #<%= @indicator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @indicator.name %></dd>

      <dt>Description</dt>
      <dd><%= @indicator.description %></dd>

      <dt>Expected sign</dt>
      <dd><%= @indicator.expected_sign %></dd>

      <dt>Database key</dt>
      <dd><%= @indicator.database_key %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/indicators" class="btn btn-primary">
        Back
      </a>
      <a href="/indicators/<%= @indicator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_indicator/<%= @indicator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Indicator has many values -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Values
      </li>

      <% @indicator.values.each do |value| %>
        <li class="list-group-item">
          <a href="/values/<%= value.id %>">
            <%= value.indicator_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/values/<%= value.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/values/<%= value.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_value/<%= value.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_value" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for indicator_id -->
      <input type="hidden" name="indicator_id" value="<%= @indicator.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Value
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Indicator has many sources -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sources
      </li>

      <% @indicator.sources.each do |source| %>
        <li class="list-group-item">
          <a href="/sources/<%= source.id %>">
            <%= source.author_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sources/<%= source.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sources/<%= source.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_source/<%= source.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_source" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for author_id -->
      <div class="form-group">
        <label for="author_id" class="control-label">
          Author
        </label>

        <%= select_tag(:author_id, options_from_collection_for_select(Author.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="">
      </div>

      <!-- Label and input for indicator_id -->
      <input type="hidden" name="indicator_id" value="<%= @indicator.id %>">

      <button class="btn btn-block btn-success">
        Create Source
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Indicator has many variables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Variables
      </li>

      <% @indicator.variables.each do |variable| %>
        <li class="list-group-item">
          <a href="/variables/<%= variable.id %>">
            <%= variable.indicator_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/variables/<%= variable.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/variables/<%= variable.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_variable/<%= variable.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_variable" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for indicator_id -->
      <input type="hidden" name="indicator_id" value="<%= @indicator.id %>">

      <!-- Label and input for model_id -->
      <div class="form-group">
        <label for="model_id" class="control-label">
          Model
        </label>

        <%= select_tag(:model_id, options_from_collection_for_select(Model.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for weight -->
      <div class="form-group">
        <label for="weight" class="control-label">
          Weight
        </label>

        <input type="text" id="weight" name="weight" placeholder="Weight" class="form-control" value="">
      </div>

      <!-- Label and input for ourmodel_id -->
      <div class="form-group">
        <label for="ourmodel_id" class="control-label">
          Ourmodel
        </label>

        <%= select_tag(:ourmodel_id, options_from_collection_for_select(Ourmodel.all, :id, :model_weight), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Variable
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Indicator has many authors -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Authors
      </li>

      <% @indicator.authors.each do |author| %>
        <li class="list-group-item">
          <a href="/authors/<%= author.id %>">
            <%= author.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/authors/<%= author.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/authors/<%= author.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_author/<%= author.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Indicator has many models -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Models
      </li>

      <% @indicator.models.each do |model| %>
        <li class="list-group-item">
          <a href="/models/<%= model.id %>">
            <%= model.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/models/<%= model.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/models/<%= model.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_model/<%= model.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Indicator has many ourmodels -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ourmodels
      </li>

      <% @indicator.ourmodels.each do |ourmodel| %>
        <li class="list-group-item">
          <a href="/ourmodels/<%= ourmodel.id %>">
            <%= ourmodel.model_weight %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ourmodels/<%= ourmodel.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ourmodels/<%= ourmodel.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ourmodel/<%= ourmodel.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
