<div class="page-header">
  <h3>Variable #<%= @variable.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Indicator</dt>
      <dd>
        <% if @variable.indicator.present? %>
          <a href="/indicators/<%= @variable.indicator_id %>">
            <%= @variable.indicator.name %>
          </a>
        <% end %>
      </dd>

      <dt>Model</dt>
      <dd>
        <% if @variable.model.present? %>
          <a href="/models/<%= @variable.model_id %>">
            <%= @variable.model.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Weight</dt>
      <dd><%= @variable.weight %></dd>

      <dt>Ourmodel</dt>
      <dd>
        <% if @variable.ourmodel.present? %>
          <a href="/ourmodels/<%= @variable.ourmodel_id %>">
            <%= @variable.ourmodel.model_weight %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/variables" class="btn btn-primary">
        Back
      </a>
      <a href="/variables/<%= @variable.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_variable/<%= @variable.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
